<p id="notice"><%= notice %></p>

<h1>Your Applications</h1>

<table class="table">
  <thead>
    <tr>
      <th>School</th>
      <th>Deadline</th>
      <th>Briefing</th>
      <th>Submit Date</th>
      <th>Interview Date</th>
      <th>Result Date</th>
      <th>Success?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.school.name %></td>
        <td><%= application.school.deadline %></td>
        <td><%= application.briefing_date %></td>
        <td><%= application.submit_date %></td>
        <td><%= application.interview_date %></td>
        <td><%= application.result_date %></td>
        <td><%= application.success ? "Yes" : "No" %></td>
        <td><%= link_to 'Edit', edit_application_path(application) %></td>
        <td><%= link_to 'Delete', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_application_path %>
