<%= form_for(school) do |f| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :banding %>
    <%= f.text_field :banding %>
  </div>

  <div class="field">
    <%= f.label :district %>
    <%= f.text_field :district %>
  </div>

  <div class="field">
    <%= f.label :deadline %>
    <%= f.text_field :deadline, include_blank: true, :id => "datepicker", :value => Date.today  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$('#datepicker').datepicker({
    format: "yyyy-mm-dd",
    todayBtn: true,
    autoclose: true,
    todayHighlight: true
});
</script>